.wrapper {
  min-height: calc(100vh - var(--border-top-width));
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper_inner {
  width: 100%;
  text-align: center;
}

.container {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.user_logo {
  padding: 5px;
  border: 1px solid #dedede;
  border-radius: 50%;
}

.name {
  font-size: 2rem;
  font-weight: 700;
  margin: 6px 0 0 0;
}

.subtitle {
  margin: 0.8rem auto 1.2rem;
  font-weight: 400;
}

.buttons {
  display: flex;
  justify-content: center;
  align-content: center;
  gap: .725rem;
}

@media (max-width: 1366px) {
  .container {
    max-width: 1125px;
  }
}

@media (max-width: 1240px) {
  .container {
    max-width: 960px;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (max-width: 512px) {
  .container {
    max-width: 100%;
  }
}

@media (prefers-color-scheme: dark) {
  .user_logo {
    border-color: #212121;
  }
}
